


input.slk{
	text-align: center;
	margin: 0px 2px 0px 2px;
	padding: 0px;
}
input.descr-slk{
	text-align: left;
	padding: 0px 0px 0px 5px;
}
input.code-slk{
	max-width: 50px;
	text-align: right;
	padding: 0px 5px 0px 0px;
}
table.slk{

}

button.slk{
    background: transparent;
	
    margin: 0px;
    padding: 0px 5px 0px 5px;
}
button.slk:hover{
    background: rgba(0,0,0,.1);
}