<div class="wineyard-section-register">

<button class="home" ng-click="gotoHome()"></button>


	<div class="wsection2">
		<p>
		Dejanos tus datos y accedé<br>a beneficios especiales<br>
		a través de nuestro centro<br>de venta directa
		</p>
		
	</div>
	<form id="form">
		<div class="form-group">
			<label for="name">* Nombre:</label>
			<input type="text" class="name" ng-model="form.name" name="name" placeholder="" />
		</div>

		<div class="form-group">
			<label for="last_name">&nbsp;&nbsp;Apellido:</label>
			<input type="text" class="last_name" ng-model="form.last_name" name="last_name" placeholder="" />
		</div>

		<div class="form-group">
			<label for="email">* E-mail:</label>
			<input type="text" class="email" ng-model="form.email" name="email" placeholder="" />
		</div>

		<div class="form-group">
			<label for="bird_date">* Fecha Nac:</label>
			

			<select name="bird_date_day" class="birdate bird_date_day" ng-model="form.bird_date_day" ng-options="m for m in days"></select>
			

			<select name="bird_date_month" class="birdate bird_date_month" ng-model="form.bird_date_month" ng-options="months.indexOf(m) as m for m in months"></select>

			<select name="bird_date_year" class="birdate bird_date_year" ng-model="form.bird_date_year" ng-options="m for m in years"></select>

		</div>

		<div class="form-group">
			<label for="zone">* Zona:</label>
			<select name="zone" class="zone" ng-model="form.zone" ng-options="m for m in provinces"></select>

			<button class="" ng-click="clickRegistrar()">Enviar</button>
		</div>

	</form>

	<div class="loading" ng-show="loading">
		<img src="img/loading.gif"/>
	</div>
	
<button class="btn btn-facebook wineyard-fb-container" ng-click='share()'>
	<i class="fa fa-facebook" ></i> | Compartir
</button>
</div>