<div class="wineyard-section-export">
<button class="home" ng-click="gotoHome()"></button>

	<div class="wy_title">
		<p>¿Sos mayor de 18 años?</p>
	</div>
	<div class="wy_inline">
		<div>
		<button class="center-block"  ng-click="clickMayorSI()">SI</button>
		</div>
		<div>
		<button class="center-block"  ng-click="clickMayorNO()">NO</button>
		</div>
	</div>

	<button class="btn btn-facebook wineyard-fb-container" ng-click='share()'>
	<i class="fa fa-facebook" ></i> | Compartir
</button>
</div>